html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.page-header {
  text-transform: uppercase;
  margin-bottom: 90px;
}

.logo {
  display: block;
}

.nav-global {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.nav li {
  list-style: none;
}

.nav a {
  display: block;
  padding: 0px 27.5px;
  text-decoration: none;
  color: #1abc9c;
}

.nav li:last-child a {
  padding-right: 0;
}

.nav li::after {
  background-color: #f38181;
  width: 0%;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  content: '';
  transition: width 200ms linear;
}

.nav li:hover a {
  color: #f38181;
  transition: 200ms linear;
}

.nav li:hover:after {
  width: 70%;
}

/* SECTION 1 */

.main {
  margin-bottom: 80px;
}

.pre-title {
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  color: #515151;
  line-height: 57.6px;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}

.pre-title::first-letter {
  text-transform: uppercase;
}

.section-header .title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #515151;
  text-transform: uppercase;
  line-height: 1.2;
}

.section-header {
  margin-bottom: 34px;
}

.title::after {
  background-color: #f38181;
  width: 5%;
  height: 4px;
  margin: 0 auto;
  margin-top: 34px;
  display: block;
  content: '';
}

.paragraph {
  margin: 0 auto;
  padding-top: 42px;
  margin-bottom: 88px;
  font-size: 15px;
  width: 960px;
  font-family: 'Roboto', serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
}

/* SERVICES MENU */

.services_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.services-li {
  position: relative;
  margin-top: 34px;
  margin-bottom: 25px;
  padding-left: 30px;
  width: 400px;
  height: 110px;
  text-decoration: none;
  color: #515151;
}

.services-li::before {
  top: 0;
  left: 30px;
  display: block;
  position: absolute;
  content: '';
  height: 32px;
  width: 32px;
}

.services-li h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  padding-left: 60px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.services-li p {
  margin: 0;
  padding-left: 60px;
  padding-bottom: 60px;
  font-size: 15px;
  font-family: 'Roboto';
  line-height: 1.6;
  text-align: left;
}

.alarm::before {
  background: url(../img/ALARM.png);
}

.web::before {
  background: url(../img/LINEGRAPH.png);
}

.creativity::before {
  background: url(../img/COMPUTER.png);
}

.seo::before {
  background: url(../img/BOOK2.png);
}

.home::before {
  background: url(../img/HOME.png);
}

.digital::before {
  background: url(../img/IMAGE.png);
}

/* TEAM LIST */

.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.cover {
  position: relative;
  margin-bottom: 30px;
  transition: all 200ms linear;
}

.sub-cover {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  transition: transform 200ms linear, opacity 200ms linear;
}

.cover:hover .sub-cover {
  opacity: 1;
  transition: opacity 200ms linear;
}

.cover:hover {
  cursor: pointer;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 #95e1d3;
  transition: box-shadow 200ms linear, transform 200ms linear;
}

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials a {
  display: block;
  margin: 1px;
  background-color: #fce38a;
  width: 55px;
  height: 55px;
  transition: background-color 200ms linear;
}

.socials a:hover {
  background-color: #95e1d3;
  transition: background-color 200ms linear;
}

.facebook {
  background: url(../img/facebook.png) center no-repeat;
}

.twitter {
  background: url(../img/twitter.png) center no-repeat;
}

.paintme {
  background: url(../img/pinterest.png) center no-repeat;
}

.insta {
  background: url(../img/instagram.png) center no-repeat;
}

.team-member p {
  text-align: center;
  color: #515151;
}

.name {
  margin: 0;
  margin-bottom: 6px;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
}

.role {
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto';
  font-style: italic;
  line-height: 1.6;
  text-transform: capitalize;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px 0px;
}

.copyright {
  margin: 0;
  color: #515151;
  font-size: 14px;
  line-height: 2;
}

.copyright a {
  color: #f38181;
  display: inline-block;
  text-decoration: none;
}

#e-mail {
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 2;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
  width: 230px;
  height: 40px;
}

#button {
  border: none;
  background-color: #1abc9c;
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
