body {
  font-family: "Playfair Display";
  color: #626262;
}

.container {
  width: 900px;
  padding-top: 45px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.page-header {
  margin-bottom: 74px;
}

.nav-item {
  margin: 0 auto;
  list-style: none;
  font-size: 0;
  text-align: center;
  padding: 0px;
}

.nav-item li {
  display: inline-block;
}

.nav-item a {
  padding: 28px 51px;
  font-size: 15px;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.nav-item a:hover {
  color: #03a9f4;
  cursor: help;
}

.nav-item a:active {
  color: #497ddd;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

.main {
  font-size: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.main li{
  list-style: none;
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 97px;
}

.main li:nth-child(2n) {
  margin-right: 0;
}

.main li:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}



.article {
  display: inline-block;
  width: 420px;
  margin-bottom: 18px;
}

.image {
  margin-bottom: 28px;
}

.article_name {
  font-family: "Ubuntu Light";
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 20px;
}

.title {
  font-family: "Playfair Display";
  font-weight: inherit;
  font-size: 30px;
  margin: 0px;
  margin-bottom: 30px;
}

.paragraph {
  line-height: 23px;
  font-size: 14px;
  margin: 0px;
}

.button {
  font-family: "Playfair Display";
  display: block;
  margin: 0 auto;
  cursor: wait;
  width: 165px;
  height: 60px;
  font-size: 20px;
  color: #626262;
  transition: 0.24s ease;
  border-radius: 2px;
  border: 1px solid #626262;
  outline: none;
  background-color: #fff;
}

.button:hover {
  border-radius: 30px;
}