body {
  width: 1200px;
  font-family: "Playfair Display";
  margin: auto

}

nav {
  margin-left: 310px;
  margin-right: 310px;
}

.navitem {
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  margin: 75px 30px ;
}

a {
  text-decoration: none;
}

a:link {
  color: #626262;
}
a:visited {
  color: #03a9f4;
}
a:hover {
  color: #003fac;
  cursor: help;
}
a:active {
  color: #497ddd;
  border-bottom: 1px dashed;
}

main {
margin-right: 90px;
margin-left: 90px;
}

article {
  margin: 30px;
  height: 550px;
}

.article_name {
  color: #b4ad9e;
  text-transform: uppercase;
}

li {
  display: inline-block;
}

h2 {
  color: #626262;
font-size: 30px;
}

p {
  color: #626262;
  width: 420px;
}
img {
  height: 280px;
  width: 420px;
}

button {
  width: 165px;
  height: 60px;
  font-size: 20px;
  color: rgb(98, 98, 98);
  /* margin-right: 45%; */
  margin-left: 42%;
}