html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: roboto;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.page-header {
  text-transform: uppercase;
  padding: 26px 0px 20px 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.logo::first-letter {
  color: #1abc9c;
  font-size: 30px;
  font-weight: 900;
  line-height: 32px;
}

.logo {
  padding: 7px 0px;
  text-decoration: none;
  font-size: 30px;
  color: #555252;
  font-weight: 300;
  line-height: 32px;
  float: left;
  display: block;
}

.nav {
  float: right;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  float: left;
}

.nav a {
  display: block;
  padding: 13px 16.5px;
  text-decoration: none;
  color: #0f0101;
}

.nav li:last-child a {
  padding-right: 0;
}

.nav li:hover a {
  color: #1abc9c;
}

/*
SLIDER
*/

.slider {
  background-image: url(../img/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 600px;
}

.slider-title {
  position: relative;
  min-height: 600px;
}

.slider-ctrl {
  margin: 0;
  padding: 0;
  width: 104px;
  height: 104px;
  border: 0;
  background-color: #1abc9c;
  opacity: 0.7;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-ctrl:hover {
  opacity: 1;
}

.slider-ctrl-prev {
  background-image: url(../img/left-arrow.png);
  margin: 0 auto;
}

.slider-ctrl-next {
  background-image: url(../img/right-arrow.png);
  right: 0;
}

.slides-list {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 42%;
  left: 18%;
  transform: translateY(-50%);
  width: 800px;
  list-style: none;
}

.slides-item p {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.slides-title {
  font-size: 60px;
  line-height: 104px;
  font-weight: 600;
}

.slides-descr {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
}

/*
MARKET
*/

.article_head {
  margin: 0;
  text-transform: uppercase;
  color: #515151;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: center;
  margin-bottom: 82px;
}

.article_head::after {
  background-color: #1abc9c;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  content: '';
}

.market_place {
  padding-top: 88px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.market {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.market li {
  display: block;
  position: relative;
  width: 255px;
  height: 322px;
  background: #e9f0fd;
  float: left;
  margin-right: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.market li:hover .product {
  background-color: #1abc9c;
}

.market li:last-child {
  margin-right: 0;
}

.absolute {
  position: absolute;
  margin: 0;
  bottom: 0;
}

.product {
  background-color: #323232;
  width: 255px;
  height: 40px;
  text-transform: uppercase;
  margin: 0px;
  padding-left: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: left;
}

.price {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.44);
  width: 54px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
}

/*
COVER
*/

.cover {
  width: 255px;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.7);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.market li:hover .cover {
  opacity: 1;
}

.cover li {
  float: left;
  background: none;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  padding: 0px;
}

.icons {
  width: 170px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icons a {
  height: 50px;
  display: block;
  border: 1px solid #ffffff;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.icons a:hover {
  background-color: #1abc9c;
  transform: translatey(-5px);
}

.cover li:nth-last-child(-n + 2) {
  margin-right: 0;
}

.like {
  background-image: url(../img/like.png);
}

.shuffle {
  background-image: url(../img/shuffle.png);
}

.later {
  background-image: url(../img/clock.png);
}

.buy {
}

.icons .buy a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  padding-left: 50px;
  color: #ffffffa7;
  background-image: url(../img/cart.png);
  background-position: 10px 10px;
  width: 166px;
  margin-top: 8px;
}

/*
 FOOTER
 */

.footer {
  background-color: #323232;
  position: relative;
}

.copyright {
  color: #f0f0f0;
  margin: 0;
  text-align: center;
  padding: 36px 0;
}

.copyright a {
  color: #1abc9c;
  display: inline-block;
  text-decoration: none;
}
