html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: roboto;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.page-header {
  text-transform: uppercase;
  padding: 26px 0px;
  margin-bottom: 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.logo::first-letter {
  color: #1abc9c;
  font-size: 30px;
  font-weight: 900;
  line-height: 32px;
}

.logo {
  padding: 7px 0px;
  text-decoration: none;
  font-size: 30px;
  color: #555252;
  font-weight: 300;
  line-height: 32px;
  float: left;
  display: block;
}
.nav {
  float: right;
}
.nav ul {
  margin: 0;
  padding: 0;
  background: #222;
}
.nav li {
  display: inline-block;
  padding: 13px 16.5px;
  float: left;
}
.nav a {
  display: block;
  text-decoration: none;
  color: #0f0101;
}
.nav li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.nav li:hover a {
  color: #1abc9c;
}

.article_head {
  margin: 0;
  text-transform: uppercase;
  color: #515151;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: center;
  margin-bottom: 92px;
}

.article_head::after {
  background-color: #1abc9c;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  content: "";
}

.market_place {
  margin-bottom: 94px;
}
.market {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.market li {
  display: block;
  position: relative;
  width: 255px;
  height: 322px;
  background: #e9f0fd;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.market li:hover .product {
  background-color: #1abc9c;
}

.market li:nth-child(4n) {
  margin-right: 0;
}

.market li:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.absolute{
  position: absolute;
  margin: 0;
  bottom: 0;
}

.product {
  background-color: #323232;
  width: 255px;
  height: 40px;
  text-transform: uppercase;
  margin: 0px;
  padding-left: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: left;
}

.price {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.44);
  width: 54px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
}

.news_list ul {
  margin: 0;
  padding: 0;
}

.news_list li {
  list-style: none;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  width: 350px;
  float: left;
}

.news_list li:last-child {
  margin-right: 0;
}
.news img {
  margin-bottom: 10px;
}
.title {
  margin: 0;
  margin-bottom: 22px;
  color: #555252;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.title::after {
  background-color: #1abc9c;
  width: 136px;
  height: 3px;
  margin: 0;
  margin-top: 7px;
  display: block;
  content: "";
}

.paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 12px;
}

.button {
  display: block;
  width: 164px;
  text-decoration: none;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
  background-color: #4ec6ab;
  padding: 16px 43px;
}

.button:hover {
  color: #4ec6ab;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
  cursor: url(http://ani.cursors-4u.net/movie/mov-2/mov138.cur), auto;
}


.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
